@font-face {
    font-family: Nunito-Regular;
    src: url(../fonts/Nunito-Regular.ttf)
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(../fonts/TitilliumWeb-Regular.ttf)
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.text-putih {
    color: #fff
}

.text-hitam {
    color: #294563
}

.text-normal {
    color: #294563;
    opacity: .5
}

.text-kuning {
    color: #ffcd40
}

.top-10,
.top-100,
.top-150,
.top-20,
.top-200,
.top-250,
.top-30,
.top-40,
.top-50,
.top-60,
.top-70,
.top-80,
.top-90 {
    position: static
}

.top-10 {
    margin-top: 10px
}

.top-20 {
    margin-top: 20px
}

.top-24 {
    margin-top: 24px
}

.top-48 {
    margin-top: 48px
}

.top-30 {
    margin-top: 30px
}

.top-40 {
    margin-top: 40px
}

.top-50 {
    margin-top: 50px
}

.top-60 {
    margin-top: 60px
}

.top-70 {
    margin-top: 70px
}

.top-80 {
    margin-top: 80px
}

.top-90 {
    margin-top: 90px
}

.top-100 {
    margin-top: 100px
}

.top-120 {
    margin-top: 120px
}

.top-130 {
    margin-top: 130px
}

.top-140 {
    margin-top: 140px
}

.top-150 {
    margin-top: 150px
}

.top-200 {
    margin-top: 200px
}

.top-250 {
    margin-top: 250px
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Nunito-Regular, sans-serif;
    line-height: normal
}

h1 {
    font-size: 48px;
    font-weight: 700
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 18px;
    font-weight: 700
}

h4 {
    font-size: 14px
}

p {
    line-height: 32px;
    font-size: 16px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

.container-full {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.container-fluid:after,
.container:after,
.container:before,
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both
}

.nusantago-phone-1,
.nusantago-phone-10,
.nusantago-phone-11,
.nusantago-phone-12,
.nusantago-phone-2,
.nusantago-phone-3,
.nusantago-phone-4,
.nusantago-phone-5,
.nusantago-phone-6,
.nusantago-phone-7,
.nusantago-phone-8,
.nusantago-phone-9,
.nusantago-tab-1,
.nusantago-tab-10,
.nusantago-tab-11,
.nusantago-tab-12,
.nusantago-tab-2,
.nusantago-tab-3,
.nusantago-tab-4,
.nusantago-tab-5,
.nusantago-tab-6,
.nusantago-tab-7,
.nusantago-tab-8,
.nusantago-tab-9,
.nusantago-web-1,
.nusantago-web-10,
.nusantago-web-11,
.nusantago-web-12,
.nusantago-web-2,
.nusantago-web-3,
.nusantago-web-4,
.nusantago-web-5,
.nusantago-web-6,
.nusantago-web-7,
.nusantago-web-8,
.nusantago-web-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.nusantago-phone-1,
.nusantago-phone-10,
.nusantago-phone-11,
.nusantago-phone-12,
.nusantago-phone-2,
.nusantago-phone-3,
.nusantago-phone-4,
.nusantago-phone-5,
.nusantago-phone-6,
.nusantago-phone-7,
.nusantago-phone-8,
.nusantago-phone-9 {
    float: left
}

.nusantago-phone-12 {
    width: 100%
}

.nusantago-phone-11 {
    width: 91.66666667%
}

.nusantago-phone-10 {
    width: 83.33333333%
}

.nusantago-phone-9 {
    width: 75%
}

.nusantago-phone-8 {
    width: 66.66666667%
}

.nusantago-phone-7 {
    width: 58.33333333%
}

.nusantago-phone-6 {
    width: 50%
}

.nusantago-phone-5 {
    width: 41.66666667%
}

.nusantago-phone-4 {
    width: 33.33333333%
}

.nusantago-phone-3 {
    width: 25%
}

.nusantago-phone-2 {
    width: 16.66666667%
}

.nusantago-phone-1 {
    width: 8.33333333%
}

@media(min-width:768px) {
    .nusantago-tab-1,
    .nusantago-tab-10,
    .nusantago-tab-11,
    .nusantago-tab-12,
    .nusantago-tab-2,
    .nusantago-tab-3,
    .nusantago-tab-4,
    .nusantago-tab-5,
    .nusantago-tab-6,
    .nusantago-tab-7,
    .nusantago-tab-8,
    .nusantago-tab-9 {
        float: left
    }
    .nusantago-tab-12 {
        width: 100%
    }
    .nusantago-tab-11 {
        width: 91.66666667%
    }
    .nusantago-tab-10 {
        width: 83.33333333%
    }
    .nusantago-tab-9 {
        width: 75%
    }
    .nusantago-tab-8 {
        width: 66.66666667%
    }
    .nusantago-tab-7 {
        width: 58.33333333%
    }
    .nusantago-tab-6 {
        width: 50%
    }
    .nusantago-tab-5 {
        width: 41.66666667%
    }
    .nusantago-tab-4 {
        width: 33.33333333%
    }
    .nusantago-tab-3 {
        width: 25%
    }
    .nusantago-tab-2 {
        width: 16.66666667%
    }
    .nusantago-tab-1 {
        width: 8.33333333%
    }
}

@media(min-width:992px) {
    .nusantago-web-1,
    .nusantago-web-10,
    .nusantago-web-11,
    .nusantago-web-12,
    .nusantago-web-2,
    .nusantago-web-3,
    .nusantago-web-4,
    .nusantago-web-5,
    .nusantago-web-6,
    .nusantago-web-7,
    .nusantago-web-8,
    .nusantago-web-9 {
        float: left
    }
    .nusantago-web-12 {
        width: 100%
    }
    .nusantago-web-11 {
        width: 91.66666667%
    }
    .nusantago-web-10 {
        width: 83.33333333%
    }
    .nusantago-web-9 {
        width: 75%
    }
    .nusantago-web-8 {
        width: 66.66666667%
    }
    .nusantago-web-7 {
        width: 58.33333333%
    }
    .nusantago-web-6 {
        width: 50%
    }
    .nusantago-web-5 {
        width: 41.66666667%
    }
    .nusantago-web-4 {
        width: 33.33333333%
    }
    .nusantago-web-3 {
        width: 25%
    }
    .nusantago-web-2 {
        width: 16.66666667%
    }
    .nusantago-web-1 {
        width: 8.33333333%
    }
}

#header {
    position: relative;
    width: 100%;
    height: 670px;
    background: #4776e6;
    overflow: hidden
}

#header:before {
    content: " ";
    clear: both;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 200px;
    background: rgba(95, 137, 237, .3);
    border-radius: 7px;
    transform: rotate(-30.15deg)
}

#header-kecil {
    position: relative;
    width: 100%;
    height: 475px;
    overflow: hidden
}

.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 99;
    transition: all .2s ease-in-out
}

.navbar .brand-logo {
    position: relative;
    display: inline;
    top: 5px
}

.navbar .menu {
    position: relative;
    float: right
}

.navbar .menu ul li {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 29px
}

.navbar .menu ul li a {
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}

.navbar .menu ul li a:hover {
    color: #ffcd40
}

.navbar .menu ul li.active a {
    font-weight: 700;
    color: #ffcd40
}

#nav-hamburger {
    position: fixed;
    display: none;
    width: 30px;
    height: 45px;
    top: 30px;
    right: 30px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

#nav-hamburger span {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

#nav-hamburger span:nth-child(1) {
    top: 0
}

#nav-hamburger span:nth-child(2) {
    top: 9px
}

#nav-hamburger span:nth-child(3) {
    top: 18px
}

#nav-hamburger.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}

#nav-hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px
}

#nav-hamburger.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
        width: 100%
    }
    #nav-hamburger {
        display: block
    }
    .navbar .menu ul li {
        text-align: center;
        width: 100%;
        padding: 15px 0 15px 0
    }
}

@media screen and (min-width:769px) {
    .menu {
        display: block
    }
    #nav-hamburger {
        display: none
    }
}

.header-text {
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    display: inline-block;
    float: left
}

.gambar-header {
    position: absolute;
    display: inline-block;
    width: 600px;
    top: 100px;
    right: 120px
}

#card-form {
    background-color: #fff;
    width: 945px;
    height: 139px;
    position: absolute;
    bottom: -97px;
    left: 16%;
    border-radius: 10px
}

#card-form-kecil {
    background-color: #fff;
    width: 945px;
    height: 139px;
    position: absolute;
    bottom: 131px;
    left: 16%;
    border-radius: 10px
}

#top-things {
    background-color: #f7f7f7;
    height: 1000px
}

.type-trip {
    margin: 10px;
    top: 4px;
    right: 0;
    position: absolute
}

.form-center {
    margin-left: 97px;
    margin-top: 29px
}

.label-form {
    color: #294563;
    font-size: 14px;
    font-family: TitilliumWeb-Regular
}

.input-form {
    margin-top: 14px;
    border: 1px solid #dadfe3;
    width: 165px;
    height: 45px;
    padding: 16px 11px;
    border-radius: 3px;
    font-size: 14px;
    color: #294563;
    font-family: TitilliumWeb-Regular
}

.input-form:focus {
    outline-color: #4f7be9;
    transition: all .2s ease
}

.full {
    width: 100%
}

select.input-form {
    padding: 10px 11px
}

.btn-form {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    font-family: TitilliumWeb-Regular
}

.option-sidebar {
    width: 100%;
    border: 1px solid #f7f7f7;
    padding: 30px;
    border-radius: 3px
}

.btn-kecil {
    font-size: 12px
}

.btn-sedang {
    font-size: 14px
}

.btn-besar {
    font-size: 16px
}

.btn-blue {
    color: #fff;
    border: 0 solid transparent;
    background: #4776e6;
    position: relative
}

.btn-form-go {
    width: 67px;
    height: 45px;
    background-color: #ffcd40;
    border: 0 solid transparent;
    border-radius: 3px
}

.section-title {
    position: absolute;
    width: 100%;
    content: " ";
    width: 91px;
    height: 16px;
    background: #ffcd40
}

h1.top-things-judul:before {
    position: absolute;
    content: " ";
    bottom: 10px;
    z-index: 0;
    left: 400px;
    width: 90px;
    height: 16px;
    background: #ffcd40
}

h1.top-things-judul:after {
    position: absolute;
    content: "Top Things to Do";
    bottom: 10px;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 3px
}

.card .btn-category {
    position: absolute;
    z-index: 1;
    float: right;
    padding: 3px 7px 3px 7px;
    background-color: #4776e6;
    top: 30px;
    right: 16px;
    color: #fff;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 12px;
    border-radius: 3px
}

.price {
    position: absolute;
    float: left;
    left: 16px;
    top: 181px
}

.card-image:before {
    position: absolute;
    content: " ";
    width: 100%;
    left: 0;
    height: 230px;
    background: linear-gradient(360deg, #000 5%, rgba(0, 0, 0, 0) 25%);
    transition: all .2s ease-in-out
}

.card-image {
    position: relative;
    width: 100%;
    height: 230px;
    border-radius: 3px 3px 0 0;
    transition: all .2s ease-in-out
}

.card-image-cities:hover,
.card-image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .2s ease-in-out
}

.card .footer {
    position: relative;
    width: 360px;
    height: 100px;
    background: #fff;
    border-radius: 0 0 3px 3px
}

.judul {
    position: relative;
    display: inline-block;
    top: 16px;
    left: 16px;
    float: left
}

.card a {
    text-decoration: none;
    color: inherit
}

.rating {
    position: relative;
    display: inline-block;
    float: right;
    top: 20px;
    right: 16px
}

span.star {
    position: relative;
    width: 18px;
    height: 18px;
    float: left
}

.yellow {
    background: url(../ico/Star.png) no-repeat;
    background-size: 14px 14px
}

.dark {
    background: url(../ico/Star-dark.png) no-repeat;
    background-size: 14px 14px
}

.location {
    position: absolute;
    display: inherit;
    bottom: 28px;
    left: 16px
}

.location span.marker-map {
    position: relative;
    width: 18px;
    height: 18px;
    float: left;
    background: url(../ico/marker-map.png) no-repeat;
    background-size: 8px 12px;
    top: 4px;
    margin-right: 16px
}

.location span.marker-map-putih {
    position: relative;
    width: 18px;
    height: 18px;
    float: left;
    background: url(../ico/marker-map-putih.png) no-repeat;
    background-size: 8px 12px;
    top: 4px;
    margin-right: 16px
}

.location h4 {
    float: left
}

.time {
    position: absolute;
    display: inherit;
    bottom: 28px;
    right: 16px;
    width: 90px
}

.time span.icon-time {
    position: relative;
    width: 18px;
    height: 18px;
    float: left;
    background: url(../ico/time.png) no-repeat;
    background-size: 12px 12px;
    top: 4px;
    margin-right: 16px
}

.exchange-coin {
    position: absolute;
    width: 100%;
    height: 307px;
    margin-top: -165px;
    overflow: hidden
}

.exchange-coin h1 {
    position: absolute;
    z-index: 5;
    left: 250px;
    bottom: 110px
}

.exchange-coin span {
    position: absolute;
    content: " ";
    width: 100%;
    height: 270px
}

.exchange-coin span:nth-child(1) {
    left: 150px;
    bottom: 0;
    z-index: 3;
    background: #4776e6;
    box-shadow: 0 10px 0 0 red
}

.exchange-coin span:nth-child(2) {
    left: 170px;
    bottom: 20px;
    z-index: 2;
    background: #4776e6;
    opacity: .4
}

.exchange-coin span:nth-child(3) {
    left: 190px;
    bottom: 40px;
    z-index: 1;
    background: #4776e6;
    opacity: .2
}

#coins {
    height: 100%;
    background: #fff
}

.coins-banner:before {
    position: absolute;
    content: "";
    background: #4776e6;
    opacity: .5;
    width: 80%;
    height: 50px;
    right: 0
}

.coins-banner:after {
    position: absolute;
    content: "Let's Exchange your travel coins here";
    background: #4776e6;
    width: 80%;
    height: 200px;
    right: 0
}

h1.how-to:before {
    position: absolute;
    content: " ";
    bottom: 10px;
    z-index: 0;
    left: 220px;
    width: 90px;
    height: 16px;
    background: #ffcd40
}

h1.how-to:after {
    position: absolute;
    content: "How To Get Coins?";
    bottom: 10px;
    z-index: 0;
    left: 217px;
    width: 100%;
    height: 50px
}

#coins h2 {
    position: relative;
    left: 210px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

#coins ul {
    position: relative;
    left: 210px;
    margin: 0;
    padding: 0
}

#coins ul li {
    font-family: Nunito-Regular, sans-serif;
    font-size: 18px;
    line-height: 50px
}

.checklist {
    position: absolute;
    background: url(../ico/checklist.png) no-repeat;
    background-size: 16px 19px;
    width: 32px;
    height: 32px;
    bottom: 3px;
    left: -40px
}

#why-us {
    height: 100%
}

h1.why-to:before {
    position: absolute;
    content: " ";
    bottom: 10px;
    z-index: 0;
    left: 519px;
    width: 90px;
    height: 16px;
    background: #ffcd40
}

h1.why-to:after {
    position: absolute;
    content: "Why Us?";
    bottom: 10px;
    z-index: 0;
    left: 23px;
    width: 100%;
    height: 50px
}

.blog {
    position: absolute;
    width: 100%;
    height: 307px;
    margin-top: 165px;
    overflow: hidden
}

.blog h1 {
    position: absolute;
    z-index: 5;
    left: 250px;
    bottom: 110px
}

.blog span {
    position: absolute;
    content: " ";
    width: 100%;
    height: 270px
}

.blog span:nth-child(1) {
    left: 150px;
    bottom: 0;
    z-index: 3;
    background: #4776e6
}

.blog span:nth-child(2) {
    left: 170px;
    bottom: 20px;
    z-index: 2;
    background: #4776e6;
    opacity: .4
}

.blog span:nth-child(3) {
    left: 190px;
    bottom: 40px;
    z-index: 1;
    background: #4776e6;
    opacity: .2
}

#popular-city {
    height: 100%;
    margin-top: 590px
}

#popular-city .cities {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 155px;
    font-family: Nunito-Regular, sans-serif;
    font-size: 36px;
    color: #fff
}

h1.city-to:before {
    position: absolute;
    content: " ";
    z-index: 0;
    left: 287px;
    width: 90px;
    top: 33px;
    height: 16px;
    background: #ffcd40
}

h1.city-to:after {
    position: absolute;
    content: "Browse Tour by Popular City";
    z-index: 0;
    left: 282px;
    height: 50px
}

.card-image-cities {
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 3px 3px 0 0;
    transition: all .2s ease-in-out
}

#header-kecil .location {
    position: relative;
    top: 24px;
    margin: 0;
    float: left
}

#header-kecil .harga {
    position: relative;
    top: 22px;
    margin: 0;
    float: right
}

#detail {
    padding-bottom: 60px
}

.image-detail {
    width: 100%;
    height: 400px;
    background: red;
    border-radius: 9px
}

select:disabled {
    background: #ebebe4
}

.accordion {
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 60px
}

.accordion input.tab-toggle {
    position: absolute;
    opacity: 0
}

.accordion input.tab-toggle:checked+label {
    border-bottom: 1px solid #4776e6;
    transition: all .2s ease-in-out
}

.accordion input.tab-toggle:checked+label .tab-title:hover {
    color: #294563;
    transition: all .2s ease-in-out
}

.accordion input.tab-toggle:checked+label .tab-title {
    background: 0 0;
    color: #294563;
    transition: all .2s ease-in-out
}

.accordion input.tab-toggle:checked+label .tab {
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out
}

.accordion label {
    float: left;
    font-size: 16px;
    line-height: 16px;
    font-family: Nunito-Regular, sans-serif;
    color: #294563;
    width: 33.3333333%;
    border-bottom: 1px solid #dadfe3
}

.accordion label .tab-title {
    display: block;
    padding: 20px;
    text-align: center
}

.accordion label:hover {
    border-bottom: 1px solid #4776e6;
    transition: all .2s ease-in-out
}

.accordion .tab {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px;
    top: 60px;
    left: 0;
    min-width: 100%;
    height: 244px;
    background: #fff
}

table {
    width: 100%
}

th {
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    padding: 14px 0 14px 0
}

td {
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    padding: 14px 0 14px 0
}

#footer {
    height: 599px;
    background: #4776e6
}

#footer a {
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
    font-family: Nunito-Regular, sans-serif;
    color: #fff
}

.brand-logo a {
    margin-right: 15px
}

#result {
    background: #f7f7f7;
    padding-bottom: 150px
}

#map {
    height: 100%
}

#maps {
    height: 400px
}

.modalw {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70%;
    border-radius: 9px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.item {
    display: inline-block
}

.item img {
    width: 100%
}
.badge{
	font-size: 8px;
    background: #ffcd40;
    padding: 4px 1px 2px 5px;
    border-radius: 1px;
    color: #142144;
    position: absolute;
    bottom: 50px;
    margin-left: 30px;
    letter-spacing: 4px;
    font-family: "Nunito-Regular",sans-serif;
}
@media only screen and (max-width:599px) {
    .masonry {
        column-count: 1;
        width: 300px
    }
}

@media only screen and (min-width:600px) {
    .masonry {
        column-count: 2;
        width: 600px
    }
}

@media only screen and (min-width:900px) {
    .masonry {
        column-count: 3;
        width: 900px
    }
}

@media only screen and (min-width:1200px) {
    .masonry {
        column-count: 4;
        width: 1200px
    }
}

.masonry-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: #294563
}

.masonry-hover:before {
    content: "";
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4776e6;
    opacity: .5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: trans -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.caption {
    position: absolute;
    top: 50%;
    margin: 0 auto !important;
    width: 100%;
    text-align: center;
    font-family: Nunito-Regular, sans-serif;
    font-size: 24px
}

.masonry-hover:active ~ .caption,
.masonry-hover:focus,
.masonry-hover:hover {
    color: #fff
}
.masonry-hover:active:before,
.masonry-hover:focus:before,
.masonry-hover:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
.masonry-hover > a{
	color: #fff;
}
.masonry-hover > a:hover{
	color: #fff;
}